* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .......dark - light mode....... */
.dark-nav{
  background: rgb(43,42,42) !important;;
}

.dark-mode-black{
  background: #424242 !important;
  transition: all 0.3s ease-in-out;
}

.dark-mode-orange{
  color: rgb(218,175,97) !important;
  list-style: italic;
}

.dark-mode-orangeBack{
  background: rgb(99,98,98);
}

.dark-mode-white{
  color:#fff;
}

.dark-mode-lightwhite{
  color:rgb(224,221,221);
  margin-top:10px;
}

.dark-mode-mail{
  color:rgb(30,127,218);
}

.newBar{
  border:1px solid grey !important;
}


.newBorder{
  border: 1px solid grey;;
}

.dark-mode-blue{
  background: #232424 !important;
  transition: all 0.3s ease-in-out;
}



/* .......end of dark - light mode....... */

li {
  list-style: none;
}

a {
  text-decoration: none; 
}

.App{
  background: #f3f3f3 !important;
  transition: all 0.3s ease-in-out;

}

.header{
  width: 100%;
  position: relative;

}


.container{
  max-width: 1100px;
  margin:0 auto;
}

.inside-container{
  max-width: 1100px;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  margin:0 auto;

}

.header img{
  width:100%;
  height:60vh;

}

.texts{
  position:absolute;
  top:25%;
  right:1rem;
  text-align: center;
  color: rgb(175,174,174);
  text-shadow: 1px 1px rgb(39,39,39)

}

.texts h1{
  font-size: 22px;
  font-style: italic;
  color: rgb(207,205,205)
}


.texts h2{
  font-style: italic;
  color: rgb(207,205,205);
  text-align: left;
  font-size: 20px;
}

.contactBtn{
  padding: 5px 10px !important;
  margin: 20px !important;
  color: #fff;
  text-shadow: none;
  border: 1px solid #fff;
  width: 90px;
  display: inline-block;
  background: transparent;
  transition: all 0.5s ease-in-out;
}

.contactBtn:hover {
  background: rgb(10,78,146);
}



/* dark mode btn */

.btnMode{
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  width: 4rem;
  position: fixed;
  top:90px;

}

.btnIcons{
  background: rgb(4,67,131);
  border:1px solid transparent;
  width:5rem;
  height:6px;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  margin:0 auto;
  position: relative;
  border-radius: 3rem;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}

.newBtnIcons{
  background: #363636;

}

.fa-moon{
  color: #e6e4e4;
}

.fa-sun{
  color: orange;
}

.ball{
  position: absolute;
  left: 0;
  width: 2rem;
  height: 20px;
  background: rgb(192,184,149);
  border-radius: 3rem;
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
}

.newBall{
  position:absolute;
  left: 50%;
}

/* end of dark mode btn */



/* Responsive contact */

@media screen and (min-width:350px){
  .header img{
    width:100%;
    height:45vh;

  }

  .contactBtn{
    padding: 5px 10px;
    margin: 50px;
  }
}

@media screen and (min-width:664px){
  .header img{
    width:100%;
    height:45vh;

  }

  .text{
    top: 35%;
  }

  .texts h1{
    font-size: 35px;

  }

  .texts h2{
    font-size: 25px;
    
  }

  .contactBtn{
    padding:5px 10px;
    margin: 30px;
    font-size: 20px;
    width: 120px;
  }



}


@media screen and (min-width:964px){

  .header{
    min-height: 90vh;
  }

  .header img{
    width:100%;
    min-height:85vh;

  }


}

/* end of header */


/* about */

.about{
  padding: 50px 50px;
  line-height: 1.6;

}

.about-logo{
  width:100%;
  margin-bottom: 20px;
}

.about-logo img{
  width:100%;
  height: 420px;
}

.about-texts span{
  font-weight: bold;
}

.about-texts div{
 border-bottom: 1px solid grey;
 padding: 10px;

}

.about-texts, .about-media{
  border-bottom: 0px solid grey;

}

.about-media{
  display:flex;
  justify-content: space-evenly;
  background: rgb(28,130,231);

}

.profile h2{
  letter-spacing: 0.2rem;

}

.about-media a{
  flex-grow: 1;
  text-align: center;
  margin: 0 20px;
  font-size: 18px;
  color: rgb(218,216,216);
  padding: 5px 10px;
  border: 1px solid transparent;
  transition:  all 0.5s ease-in-out;

}

.about-media a:hover{
  color: rgb(197,194,194);
  background: rgb(10,78,146);
  color:#fff;
  border: 1px solid #fff;
}

.generally{
  margin-top: 20px;

}

.generally span{
  text-transform: capitalize;
  font-style: italic;
  font-size: 20px;
  color: rgb(28,130,231);
  font-weight:bold;

}

.certificates{
  margin-top: 10px;

}

.certificates p{
  padding-left: 20px;
  
}


/*responsive */

@media screen and (min-weidth: 664px){
  .about-center{
    display:flex;
    justify-content:center;

  }

  .header img{
    height: 75vh;
  }

  .about-logo{
    align-self: center;
    flex: 0 0 35%;
    margin-bottom:0;
    margin:5px;
    height:300px;
    box-shadow: 0 0 5px 1px grey;
    padding: 5px;

  }

  .about-logo img{
    height: 300px;
    display: block;
  }

  .about-texts{
    flex-grow: 1;
    margin: 0 10px;
  }

}


@media screen and (min-width:886px){
  .about-logo{
    align-self:center;
    flex: 0 0 300px;
    margin-bottom: 0 10px;
    height: 300px;
  }
} 


.skills-center li{
  margin:0;
}

.skills h3{
  font-weight: 500;
  padding-top: 3px;
}

@media screen and (min-width:664px){
  .skills-center{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}